.global {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #2365b1, #328bf1);
    padding: 30px;
    height: 130px;
    margin: 0;
    width: 100%; /* Altera de 98% para 100% para garantir que ocupe toda a largura da tela */
    box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos na largura */
    overflow: hidden; /* Impede que o conteúdo vaze */
}

.nav p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.tools {
    display: flex;
    gap: 15px;
    align-items: center;
}

.icon {
    color: white;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #E6AC47;
}
@media screen and (max-width: 768px) {
    .icon 
    {
        color: white;
        font-size: 25px;
        cursor: pointer;
        transition: color 0.3s ease;
    }
    .logo{
        max-width: 200px;
        margin-right: 10px;
    }
}