
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');

.pageContainer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    min-height: 100vh;
    font-family: 'Chau Philomene One', sans-serif;
}

.container {
    background: linear-gradient(to bottom, #FFAD23, #FA9D02);
    padding: 30px; 
    border-radius: 15px; 
    max-width: 35rem; 
    width: 90%; 
    height: auto;
    text-align: center;
    margin: 5rem 0;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15); 
}

.title {
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 40px;
    margin-top: 2%;
    color: #FFAD23;
    text-align: center;
}

.label {
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 30px;
    color: #FFAD23;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}



.input:focus {
    border-color: #2E83E3; 
    box-shadow: 0 0 5px rgba(46, 131, 227, 0.5); 
    outline: none; 
}

.button {
    background-color: #FFAD23;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    font-family: 'Chau Philomene One', sans-serif;
    margin-top: 2rem;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #236ABF;
    transform: translateY(-2px); 
}

.error {
    color: #FF3B30;
    margin-top: 10px;
    font-size: 1rem;
    font-family: 'Chau Philomene One', sans-serif;
}

.input {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 5%;
}

.inputS {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 5%;
    margin-right: 3%;
}

.formGroup {
    margin: 2% 0 2%;
    width: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 35px 50px;
    border-radius: 3%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    animation: slideIn 1s ease-out;
    height: 100%;
    margin-bottom: 30%;
    margin-top: 30%;
    margin-right: 60%;
}


@media (max-width: 600px) {
    .title {
        font-size: 2rem; 
    }

    .label {
        font-size: 1.3rem; 
    }

    .button {
        font-size: 1.4rem; 
    }

    .input {
        height: 2.5rem; 
    }
}

.back {
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 1.6rem;
    border-bottom: 10%;
    color: #2E83E3;
  }
  