.global{
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #2365b1, #328bf1);
    width: 100%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.container{
    display: flex;
    justify-content: center;
}
.container a{
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    
  
font-size: 7rem;
    color: white;
    opacity: 0.9;
}
.footer{
    margin: 30px 0;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
    margin: 30px 0;
}
.span {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.senai {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 0 5px;
    margin-bottom: -10px; /* Move o texto mais para cima */
}

.lab {
    color: #E6AC47;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 0 5px;
    margin-bottom: -10px; /* Move o texto mais para cima */
}

.escrito {
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 15px;
}


