.global{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #2365b1, #328bf1);
    width: 100%;
    padding: 70px 30px 20px;
    display: flex;
    flex-direction: row;

}
.container{
    display: flex;
    justify-content: center;
}
.container a{
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
  
    font-size: 4rem;
    color: white;
    opacity: 0.9;
}
.footer{
    margin: 30px 0;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
    margin: 30px 0;
}
.span {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.logo {
    text-align: center;
}
.escrito {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
