@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');

.page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.form {
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titleh2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Chau Philomene One', sans-serif;
}

.message {
    text-align: center;
    margin-bottom: 20px;
    padding: 0; /* Remove o preenchimento */
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 1rem;
    background: none; /* Remove a cor de fundo */
    border: none; /* Remove a borda */
}

.success {
    color: #28a745; /* Texto verde para sucesso */
}

.error {
    color: red; /* Texto vermelho para erro */
}


.select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-family: 'Chau Philomene One', sans-serif;
    text-align: center;
}

.select:focus {
    outline: none;
    border-color: #FFAD23;
}


.button {
    background-color: #FFAD23;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    font-family: 'Chau Philomene One', sans-serif;
    margin-top: 1rem;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    line-height: 3rem;
}



.calendarContainer label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Chau Philomene One', sans-serif;
    color: #333;
}

.calendar {
    width: 100%; /* Ajusta a largura */
    max-width: 400px; /* Define um limite máximo para o tamanho */
}

.react-calendar__navigation button {
    background: none;
    border: none;
    color: #FFAD23;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Chau Philomene One', sans-serif;
}

.popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.sucesso {
    color: green;
}

.erro {
    color: red;
}

.calendarContainer {
    margin-bottom: 20px;
    text-align: center;
}

.calendar {
    width: 100%;
    margin-top: 10px;
}

