@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  min-height: 100vh;
}



.title {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.imagecontainer {
  width: 100%;
  margin-top: 10px;
}

.img {
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
  margin-left: 185px;
  align-items: center;

}

.section1 {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 905px;
  background-color: #2E83E3;
  color: white;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 50px;
  font-family: "Chau Philomene One";
  
  
}

.linkSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 70px 0;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  max-width: 905px;
  background-color: #2E83E3;
  color: white;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 50px;
  font-family: "Chau Philomene One";
}

.link:hover {
  background-color: #2E83E3;
}

.resrva-section{
position: relative;
width: 300px;
height: 150px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
overflow: hidden;
padding: 10px;
}

.resrva-container link.resrva-link{
  color: white;
  font-size: 24px;
  z-index: 2;
  position: relative;
  text-decoration: none;
  font-weight: bold;
}

/* .resrva-link:houver{
  text-decoration: underline;
} */
.resrva-image{
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: 1;
}

.resrva-image img{
  width: 150px;
  height: auto;
  opacity: 1;
}