@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');


.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 40px;
    background-color: #FA9D02;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 30rem;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 35%;
    background-image: linear-gradient(to right, #FA9D02, #FFAD23);


  }
  
  .title2 {
    font-size: 40px;
    color: #ffffffea;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Chau Philomene One";
  }
  .title3 {
    color: #ffffffea;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    font-family: "Chau Philomene One";
  }
  
  .linkSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .link {
    font-size: 18px;
    color: #0070f3;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .inputs input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  .button {
    padding:  20px;
    font-size: 25px;
    background-color: #2E83E3;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 80%;
    margin-left: 10%;
    height: 20%;
    font-family: "Chau Philomene One";
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  
  .reserva-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .reserva-content {
    margin-bottom: 20px;
    text-align: center;
  }
  
  