@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    min-height: 100vh;
    font-family: 'Chau Philomene One', sans-serif;
}

/* Conteúdo principal */


/* Estilo do formulário */
.formContainer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    /* Fundo translúcido com maior opacidade */
    padding: 35px 50px;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    /* Sombra sempre visível */
    transition: all 0.3s ease-in-out;
    animation: slideIn 1s ease-out;
}

/* Título do formulário */
.title {

    font-family: 'Chau Philomene One', sans-serif;
    font-size: 40px;
    margin-top: 2%;
    color: #FFAD23;
    text-align: center;
}



/* Mensagem de erro */.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

/* Grupos do formulário */
.formGroup {
    margin: 2% 0 2%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 35px 50px;
    border-radius: 3%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    animation: slideIn 1s ease-out;
    height: 100%;
    margin-bottom: 30%;
    margin-top: 30%;
    margin-right: 60%;
}

.title2 {
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 30px;
    color: #FFAD23;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}


/* Inputs do formulário */
.input {
    width: 95%;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 5%;
    margin-right: 3%;
}

.input:focus {
    border-color: #2575fc;
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 8px rgba(37, 117, 252, 0.5);
}

/* Botão de envio */
.submitButton {
    background-color: #FFAD23;
    ;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    font-family: 'Chau Philomene One', sans-serif;
    margin-top: 2rem;
    transition: background-color 0.3s, transform 0.2s;
}


/* Footer */
.footer {
    background-color: #2575fc;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.1);
}

/* Efeitos de transição */
.transition {
    transition: all 0.3s ease-in-out;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}