.global {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #2365b1, #328bf1);
    padding: 10px 30px;
    height: 130px;
    margin: 0;
    width: 98%;
}

.nav p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.senai {
    color: white; 
    font-family: Arial, sans-serif;
    font-size: 40px;
}

.lab {
    color: #E6AC47;
    font-family: Arial, sans-serif;
    font-size: 40px;
}

.tools {
    display: flex;
    gap: 15px;
    align-items: center;
}

.icon {
    color: white;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #E6AC47; 
}